.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-todo {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 0;
  border: 1px solid transparent;
}

.add-btn {
  margin-top: -4px;
  margin-left: 5px;
}

.form-width {
  margin-left: 10px;
  width: 35%;
  margin-top: 10px;
}

.flex-container {
  display: flex;
  margin-top: 25px;
  margin-left: 500px;
  height: 50%;
}

.flex-child {
  flex: 1;
}

.flex-child.sec-child {
  width: 100px;
  height: 400px;
  overflow-y: auto;
  border-style: solid;
  border-color: #99914c;
}

.todoborder {
  border-style: solid;
  border-color: #287ec7;
  margin: 10px;
}
